.show-list-container {
  display: flex;
  flex-direction: column;

  padding: 30px;

  font-size: $font-size-large;

  background-color: $cyan-200;
  color: $white;

  .show-item {
    display: flex;
    margin-bottom: 15px;

    height: 150px;
    width: 600px;

    padding: 5px;

    background-color: $white;

    border-radius: 10px;

    .show-poster {
      overflow: hidden;

      border-radius: 10px;

      img {
        height: 150px;
        width: 150px;

        &:hover {
          transform: scale(1.3);
        }

        transition: transform 0.3s;
      }
    }

    .show-preview-data {
      display: flex;
      flex-direction: column;
      flex: 1;

      padding-left: 10px;

      color: $black;

      .show-name {
        margin-bottom: 10px;

        font-size: $font-size-large;
        font-weight: bold;
      }

      .show-score,
      .show-rate {
        font-size: $font-size-medium;

        color: $gray-700;
      }

      .show-score {
        margin-bottom: 10px;
      }
    }

    .show-detail-button {
      height: 40px;

      background-color: $teal-200;

      border-radius: 10px;

      color: $white;

      cursor: pointer;
    }
  }
}
