html,
body,
#root,
.app {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;

  .app-routes-container {
    position: absolute;
    top: $app-header-height;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;
  }
}
